<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12">
    <div class="max-w-2xl mx-auto">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Decentralized for a better tomorrow</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:mb-12 lg:text-xl dark:text-gray-400">Buy, trade, and
        hold <span class="font-medium text-gray-900 dark:text-white">600+</span> cryptocurrencies on
        Flowbite</p>
    </div>
    <div class="grid gap-6 lg:gap-8 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
      <div class="p-4 text-primary-700 bg-primary-100 rounded-lg dark:bg-primary-900 dark:text-primary-300">
        <h2 class="text-3xl font-extrabold leading-tight">$76 billion</h2>
        <span class="text-primary-500 dark:text-primary-400">24h trading volume</span>
      </div>
      <div class="p-4 text-teal-600 bg-teal-100 rounded-lg dark:bg-teal-900 dark:text-teal-300">
        <h2 class="text-3xl font-extrabold leading-tight">600+</h2>
        <span class="text-teal-500 dark:text-teal-400">Cryptocurrencies listed</span>
      </div>
      <div class="p-4 text-indigo-700 bg-indigo-100 rounded-lg dark:bg-indigo-900 dark:text-indigo-300">
        <h2 class="text-3xl font-extrabold leading-tight">34 million</h2>
        <span class="text-indigo-500 dark:text-indigo-400">Diluted market cap</span>
      </div>
      <div class="p-4 text-purple-700 bg-purple-100 rounded-lg dark:bg-purple-900 dark:text-purple-300">
        <h2 class="text-3xl font-extrabold leading-tight">90 million</h2>
        <span class="text-purple-500 dark:text-purple-400">Registered users</span>
      </div>
      <div class="p-4 text-green-600 bg-green-100 rounded-lg dark:text-green-300 dark:bg-green-900">
        <h2 class="text-3xl font-extrabold leading-tight">0.10%</h2>
        <span class="text-green-500 dark:text-green-400">Low transaction fees</span>
      </div>
    </div>
  </div>
</section>