<!-- account wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

    <%= render partial: 'profile/sidebar' %>

  <!-- info -->
  <%= turbo_frame_tag "container-frame", class: 'col-span-9 grid grid-cols-3 gap-4' do %>
        <!-- Default page should list of orders -->
        <%= render partial: 'profile/order' %>
  <% end %>

  <!-- ./info -->

</div>

